# Archivos de PlatformIO
.pio/
.pioenvs/
.piomonitor/

# Archivos de VS Code
.vscode/

# Dependencias de Node.js (si aplican)
node_modules/
dist/

# Archivos compilados de C/C++
*.elf
*.hex
*.bin
*.o
*.a
*.d
*.out

# Configuración de IDE
